apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smt-prod

resources:
  - ../../base
  - cluster-issuer.yaml
  - selaed-secrets.yaml

images:
  - name: smt
    newName: 982402893832.dkr.ecr.ap-northeast-2.amazonaws.com/smt-server
    newTag: "2.0.0"

  - name: vnc-proxy
    newName: 982402893832.dkr.ecr.ap-northeast-2.amazonaws.com/smt-vnc-proxy
    newTag: "1.0.0"

  - name: squid
    newName: 982402893832.dkr.ecr.ap-northeast-2.amazonaws.com/squid
    newTag: "6.13"

configMapGenerator:
  - name: vnc-proxy-cm
    behavior: merge
    literals:
      - K8S_NAMESPACE=smt-prod

  - name: smt-cm
    literals:
      - APP_ENV=production
      - KUBE_SESSION_NAMESPACE=smt-prod

patches:
  - path: patches/deploy-smt.yaml
  - path: patches/deploy-vnc-proxy.yaml
  - path: patches/deploy-vnc-gateway.yaml
  - path: patches/ingress.yaml
