apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: smt-ing
spec:
  ingressClassName: traefik
  rules:
  - host: smt.local.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: smt
            port:
              number: 8090
