apiVersion: v1
kind: ConfigMap
metadata:
  namespace: vnc-gateway
  name: vnc-gateway-squid-config-map
data:
  squid.conf: |
    http_port 3128

    acl localnet src all
    
    # blacklist
    # acl blocked_sites dstdomain .facebook.com .youtube.com
    # http_access deny blocked_sites

    # whitelist
    # acl allowed_sites dstdomain .google.com .naver.com .github.com
    # http_access allow allowed_sites
    # http_access deny all

    http_access allow localnet
    http_access deny all

    forwarded_for off
    request_header_access X-Forwarded-For deny all
    request_header_access Via deny all

    cache deny all
    cache_mem 0 MB

    access_log stdio:/dev/stdout combined
    cache_log stdio:/dev/stderr
    
    pid_filename /tmp/squid.pid
